.control-bar {
    margin-bottom: 10px;
}

.control-bar .switch-theme {
    background-color: transparent;
    border: 0;
    padding: 10px;
    outline: 0;
    cursor: pointer;
}

.chart {
    width: 100%;
    height: 500px;
}

.legend-container {
    margin-top: 15px;
}

.legend-container .item-element {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #e6ecf0;
    border-radius: 15px;
    margin-right: 10px;
}

.dark .legend-container .item-element {
    border-color: rgb(83, 101, 118);
}

.legend-container .item-element input {
    opacity: 0;
}

.legend-container .item-element label {
    position: relative;
}

.legend-container .item-element label:not(.item-selectable) {
    color: #a6acb0 !important;
}

.legend-container .item-element label::before {
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid;
    border-radius: 16px;
    vertical-align: middle;
}

.legend-container .item-element label.selected::after {
    content: "✓";
    font-weight: bold;
    position: absolute;
    left: 2px;
}

.legend-container .item-element .item-selectable {
    cursor: pointer;
}
